@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Frijole&family=Montserrat+Subrayada&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

.landing-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2rem 3rem;
    min-height: 95vh;
  }
  .landing-left{
    text-align: left;
    display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem 25rem 5rem 1rem
  }
  .heading-1 {
    font-size: 2.3rem;
    margin: 0px;
    font-weight: 500;
    padding: 10px;
    font-family: Frijole, sans-serif;
    /* background: var( --gradient-white); 
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */

  }
  
  .heading-2 {
    margin-top: 0;
    font-size: 1.8rem;
    /* color: var(--blue); */
    padding: 10px;

    font-weight: 800;
   background: var( --gradient-black);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

    /* font-weight: 800; */
  }
  
  /* .landing-left span{
    -webkit-text-stroke: 3px var(--white);
    color: var(--black);
    font-size:2.1rem;

  } */
  
  .heading-1:hover {
    color: var(--black);
    -webkit-text-stroke: 3px var(--white);
    transition: all 0.3s;
  }
  .para {
    margin-top:0;
    color: var(--grey);
    font-size: .9rem;
    padding: 10px;
     font-weight: 500;
  }
  
  .btn-flex {
    /* margin-top: 1rem; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
    padding: 15px;

  }
  
  .landing-right {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    position: relative;
  }
  
  .gradient {
    position: absolute;
    max-width: 200px;
    top: 4rem;
    object-fit: contain;
    z-index: 0;
  }
  
  .iphone {
    position: absolute;
    max-width: 240px;
    /* object-fit: contain; */
    z-index: 1;
    right: 0rem;
  }


 
  @media only screen and (max-width: 1250px) {
    .landing-left {
      width: 60%;
    }
  
    .gradient {
      max-width: 250px;
      top: 4rem;
    }
    .iphone {
      max-width: 300px;
    }
    .heading-1,
    .heading-2 {
      font-size: 5rem;
    }
  }
  
  @media only screen and (max-width: 1050px) {
    .gradient {
      max-width: 230px;
      top: 3rem;
    }
    .iphone {
      max-width: 280px;
    }
    .heading-1,
    .heading-2 {
      font-size: 4rem;
    }
    .para {
      font-size: 1rem;
    }
  }
  
  @media only screen and (max-width: 800px) {
    .landing-wrapper {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
    }
  
    .landing-left {
      width: 100%;
      text-align: center;
    }
  
    .landing-right {
      justify-content: center;
      margin-right: auto;
      margin-top: 4rem;
    }
  
    .iphone {
      left: auto;
      right: auto;
    }
  
    .heading-1,
    .heading-2 {
      font-size: 3rem;
    }
    .para {
      font-size: 0.8rem;
    }
    .btn-flex {
      justify-content: center;
    }
  }
  
  @media only screen and (max-width: 380px) {
    .landing-wrapper {
      height: 120vh;
    }
  }
